<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        
        <a href = "collectors">Collectors</a>
        <a href = "albums">Albums</a>
        <a href = "releases">Releases</a>
        <a href = "genres">Genres</a>
        <a href = "artists">Artists</a>
        <a href = "artist_has_album">Artist's Album Catalogue</a>
        <a href = "collector_has_release">Collector's Releases</a>
        

    </nav>

    {{{body}}}

</body>
</html>