{{! Citation for the following code }}
{{! Date: 5/29/2025 }}
{{! Copied from /OR/ Adapted from /OR/ Based on: }}
{{! Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25352968 }}
{{! Our project was adapted from the starter code on Canvas. }}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        
        <a href = "collectors">Collectors</a>
        <a href = "albums">Albums</a>
        <a href = "releases">Releases</a>
        <a href = "genres">Genres</a>
        <a href = "artists">Artists</a>
        <a href = "artist_has_album">Artist's Album Catalogue</a>
        <a href = "collector_has_release">Collector's Releases</a>
        <form action="/update" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('Are you sure you want to reset the database? This action cannot be undone.');">
            Reset Database
        </button>
</form>

    </nav>

    {{{body}}}

</body>
</html>