<h1>Home page</h1>
<div class="homepageDescription">
    <p>Gabe Happ-Shine Peter Battisti Group 95</p>
    <p> Have you ever wanted an online catalog for collecting vinyl records? Our online database fulfills<br> the 
        needs of vinyl collectors by providing efficient cataloguing of user vinyl holdings. Collectors <br>can 
        choose to list albums in their collection. Albums that users list are entered into the database by artist,<br>
         album, and release (specific pressing of an album) information. An item that a collector posts is <br>
         ultimately stored in the database under the Releases entity which will hold information about release, <br>
         album, and artist information by use of foreign keys.This categorization will allow  collectors to <br>
         search by artist, album or release, to see postings of certain items in another collection. This will <br>
         help users determine the market value of items in their collections. We expect our database will serve <br>
         up to 20,000 users and a million releases added every year. </p>
</div>

<h2>Reset Database</h2>
<form class='cuForm' id='update_artist_form' method='POST' action="/update">
    

   


    <input type='submit' />
</form>